@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:regular,700,900);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

@import './variables.scss';
@import 'bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

li,
p {
  text-wrap: pretty;
}

img {
  max-width: 100%;
}

a[type='button'] {
  display: flex;
  align-items: center;
  width: fit-content;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.neumorphism {
  @include neumorphism;
}

section {
  flex: 1;
  margin: 1rem 0;
}

.app-name {
  font-family: 'Cinzel Decorative', cursive;
}

header {
  .logo {
    img {
      width: 42px;
      height: 42px;
    }
  }
  .app-name {
    font-size: clamp(1.2rem, 3vw, 2.5rem);
    font-weight: 700;
  }

  .logo,
  .header-buttons {
    // flex: 1;
  }

  .header-buttons {
    .btn {
      width: 42px;
      height: 42px;
    }

    .user-name {
      text-wrap: nowrap;
    }

    .user-avatar {
      width: 42px;
      height: 42px;
      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;
      // background-color: var(--primary);
    }

    .language-switcher {
      width: 42px;
      height: 42px;
      padding-left: 0;
      padding-right: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      &::-ms-expand {
        display: none;
      }
      &:focus-visible {
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
  }
}

.cards {
  .card {
    max-width: 340px;
    margin: 0 auto;
    p {
      font-size: 18px;
      font-weight: 700;
    }
    span {
      font-size: 40px;
      font-weight: 900;
      color: var(--primary);
    }
  }
}

footer {
  span {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 700;
  }
}

.limit-reached {
  text-wrap: balance;
  min-height: 24px;
}

.vacation-list {
  margin-top: calc(24px + 16px) !important;
}

#calendar {
  margin: 0 auto 1.5rem;
  width: fit-content;
  padding: 1rem;
  @include neumorphism;
  border-radius: var(--rounded);

  &.rdp-root {
    --rdp-accent-color: var(--primary);
    --rdp-day_button-border-radius: var(--rounded);
    --rdp-selected-border: 1px solid var(--primary);
  }

  .rdp-selected {
    font-weight: inherit;
    font-size: inherit;
  }

  .rdp-day_button:hover {
    background-color: var(--calendar-hovered);
  }

  .disabled-btn {
    pointer-events: none;
  }
}

.vacation-list {
  padding: 0;
  max-width: 280px;
  margin: 24px auto;
  max-width: 340px;

  .vacation-item {
    position: relative;
    list-style: none;
    padding: 6px 24px;
    border-radius: var(--rounded);
    margin-bottom: 16px;

    .date {
      text-align: center;
    }

    .remove-btn {
      position: absolute;
      top: 50%;
      right: 24px;
      transform: translate(0, -50%);
      font-size: 14px;
      &:focus {
        box-shadow: none;
      }
      &:focus-visible {
        outline: none;
      }
    }
  }
}

.total-vacation-days {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 80px;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  color: var(--primary);
  border: 1px solid transparent;
  border-radius: var(--rounded);
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: var(--calendar-hovered);
  }

  &:focus-visible {
    // border: none;
    border: 1px solid var(--primary);
    background-color: transparent;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

#login {
  .google-button {
    padding: 0 2.125rem;
  }
}
#page-not-found {
}

@media (max-width: 768px) {
  header {
    .app-name {
      display: none;
    }
  }
}
