$bg-light: #f8fafc;
$bg-dark: #283548;
$primary: #ff004f;
$rounded: 8px;

@mixin neumorphism {
  background-color: var(--neo-bg);
  box-shadow: 5px 5px 5px var(--neo-shadow1), -5px -5px 5px var(--neo-shadow2);
}

[data-bs-theme='light'] {
  --neo-bg: #f8fafc;
  --neo-shadow1: #dfe1e3;
  --neo-shadow2: #ffffff;

  body {
    background-color: $bg-light;
  }
}

[data-bs-theme='dark'] {
  --neo-bg: #283548;
  --neo-shadow1: #222d3d;
  --neo-shadow2: #2e3d53;

  body {
    background-color: $bg-dark;
  }
}

// @import '../assets/bootstrap/bootstrap.scss';
